@tailwind base;
@tailwind components;
@tailwind utilities;



.page-container {
  background-color: #1d3444;
  height: 100vh;
  padding-left: 7rem;
  padding-right: 7rem;
}

.card-container {
  background-color: #ffffff;
  height: 18rem;
  width: 32rem;
  border-radius: 0.8rem;
}

.input-field {
  background-color: #ffffff;
  height: 2.5rem;
  width: 12rem;
  border-radius: 0.8rem;
  border: 1px solid #cbcbcb;
  padding: 0.5rem;
}

.button-main {
  background-color: #1d3444;
  height: 3rem;
  width: 12rem;
  border-radius: 0.8rem;
  border: 0px solid #cbcbcb;
  padding: 0.5rem;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

/* Button hover */
.button-main:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
}

